.form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.form input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d51111;
}

.form button {
  padding: 10px;
  background: #667fc8;
  color: rgb(220, 158, 158);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}